{% extends 'base.html.twig' %}

{% block body %}
    <h1>Multiple actions</h1>
    {{ datatable_html({
        'id' : 'dta-products'
    })
    }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ datatable_js({
        'id' : 'dta-products',
        'js' : {
            'dom': '<"clearfix"lf>rtip',
            'ajax': path('multiple_product_list'),
        }
    })
    }}

{% endblock javascripts %}
    